# DataManager @ git+ssh://git@github.com/GreenPlanet-Capital/DataManager@marketstore
matplotlib
tqdm
prettytable
plotly
backtesting==0.3.3
ta==0.10.1
statsmodels
alpaca-trade-api
robin_stocks
py_vollib==1.0.1
